* {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  background-color: beige;
}
.App {
  text-align: center;
}
header {
  width: 100%;
  background-color: lightblue;
  padding-block: 10px;
}

main {
  background-color: white;
}

main > form {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

form {
  width: 700px;
  padding-block: 50px;
}

.allTasks {
  padding-block: 50px;
}

.allTasks > ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.done {
  text-decoration: line-through;
}
